In [11]:
import pandas as pd

In [ ]:
a="""
kostas:10
alkis:4
kiki:10
"""

In [ ]:
a

In [ ]:
b = '{' + a.strip('\n').replace('\n', ',') + '}'

In [ ]:
b

In [ ]:
eval(b)

In [ ]:
eval("{'kostas':10,'alkis':4,'kiki':10}")

In [ ]:
from pathlib import Path

In [ ]:
list(Path.cwd().parent.parent.rglob('chromedriver.exe'))

In [2]:
url = "https://raw.githubusercontent.com/kosazna/general/main/license.json"

In [5]:
c = pd.read_json(url, orient='index').rename(columns={0:'is_licensed'})

if c.loc['nikos', 'is_licensed']:
    print('kostas')
else:
    print('azna')

kostas

In [2]:
df = pd.read_json('license.json', orient='index')

In [6]:
df

,antallaktikaonline.gr,skroutz.gr,tripadvisor.com,booking.com,spitogatos.gr
aznavouridis.k,True,True,True,True,True
nikos,True,True,False,False,False

In [13]:
import json, requests, urllib, io

user='kosazna'
pao='10241819118#kS'

github_session = requests.Session()
github_session.auth = (user, pao)

# providing raw url to download csv from github
csv_url = 'https://raw.githubusercontent.com/kosazna/atauth/main/atcrawl.json?token=AGFWQGMQPRP7OR7LSQ6FJSTAAXGMM'

download = github_session.get(csv_url).content
downloaded_csv = pd.read_json(io.StringIO(download.decode('utf-8')), orient='index')

In [14]:
downloaded_csv

,antallaktikaonline.gr,skroutz.gr,tripadvisor.com,booking.com,spitogatos.gr
aznavouridis.k,True,True,True,True,True
nikos,True,True,False,False,False

In [22]:
import numpy as np
import pandas as pd
import requests
from io import StringIO
import json

# define parameters for a request
token = '33e7a243e44dc089cd52476a3baebc59db6677e2' 
owner = 'kosazna'
repo = 'atauth'
path = 'atcrawl.json'

# send a request
r = requests.get(
    'https://api.github.com/repos/{owner}/{repo}/contents/{path}'.format(
    owner=owner, repo=repo, path=path),
    headers={
        'accept': 'application/vnd.github.v3.raw',
        'authorization': 'token {}'.format(token)
            }
    )

# convert string to StringIO object
string_io_obj = StringIO(r.text)

# Load data to df
df = pd.read_json(string_io_obj, orient='index')

df

,antallaktikaonline.gr,skroutz.gr,tripadvisor.com,booking.com,spitogatos.gr
aznavouridis.k,True,True,True,True,True
nikos,True,True,False,False,False

In [27]:
a = json.loads(r.text)

In [29]:
type(a['nikos']['antallaktikaonline.gr'])

bool